/* 
    ============================================================
    STYLISTIC NOTES - Luke Marren
    ============================================================

	My aim is to create a stylesheet that is fast, efficient,
	and maintainable and achieves responsive, device-agnostic 
	styling.

	I attempt to do this by combining the flexbox layout
	model with OOCSS (object-oriented CSS) structure and skin,
	utility classes, and the existing semantic HTML.
	
    ============================================================
*/

/* 
	=========
	STRUCTURE
	=========
*/

/* Apply global resets and box-sizing to encapsulate padding. */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Apply background and font styling to body.
   A Column-wise flex-box is also used to structure the page content from top-to-bottom. */
body {
	background-color: rgba(0, 47, 76, 1);
	color: white;
	font-family: "IBM Plex Mono", "Courier New", monospace;
	font-style: normal;
	text-align: center;
}

.flex {
	display: flex;
}
 
.flex-column {
	flex-direction: column;
}

.flex-center {
	justify-content: center;
	align-items: center;	
}

.flex-fill {
	flex: 1;
}

/* Add margin around main content. */
.margin-all-around {
	margin: clamp(2vw, 3vw, 4vw) clamp(5vw, 7vw, 10vw);
}

.margin-vertical {
	margin: clamp(1vw, 2vw, 3vw) 0;
}

/* Make main header take up entire vertical viewport. */
#main-header {
	height: 100vh;
}

/* 
	====
	SKIN
	====
*/

h1,
h2,
h3,
h4 {
	font-weight: 100;
}

.orange {
	color: rgba(255, 111, 97, 1);
}

/* Apply coloring and font size to page titles. */
h1 {
	font-size: clamp(10vw, 13vw, 15vw);
}

/* Apply font size and padding to section titles. */
h2 {
	font-size: clamp(4vw, 7vw, 10vw);
}

/* Apply font size and padding to smaller header titles. */
h3 {
	font-size: clamp(3vw, 4vw, 5vw);
}

/* Apply font size to regular text. */
p {
	font-size: clamp(1vw, 2vw, 2.5vw);
}

/* Remove underline and color from links. */
a {
	text-decoration: none;
	color: white;
}

/* Ensure background image is behind text and is swallowed by scrolling. */
.background-image {
	position: absolute;
	background-color: rgba(0, 47, 76, 0.5);
	background-blend-mode: multiply;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	height: 100%;
	z-index: -1;
}

/* Use Earth from space image for blog homepage. */
.blog-homepage.background-image {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/1/11/S65-63873_Clouds_over_the_Western_Pacific_and_the_full_Moon_seen_from_Earth.jpg");
}

.index.background-image {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/9e/Apollo_4_Saturn_V%2C_s67-50531.jpg");
}

.about.background-image {
	background-image: url("https://upload.wikimedia.org/wikipedia/commons/c/c8/Panorama_4_-_Tranquility_Base.jpg");
}

/* Header navbar has border that spans entire header */
#main-header nav {
	flex: 0 0 10%; /* Do not grow or shrink, fixed width of 10% */
	border-bottom: 1px solid white;
}

ul {
	list-style-type: none;
}

/* Reactive bullet point padding and font size */
#main-header li {
	padding: clamp(1vw, 3vw, 5vw);
	font-size: clamp(2vw, 3vw, 4vw);
}

/* Change main navbar background color on hover. */
#main-header li:hover {
	background-color: rgba(51, 51, 51, 0.5);
}

/* Give footer social media images responsive dimesions. */
footer img {
	width: 5vw;
	height: auto;
	margin: 0 1vw;
}

article {
	background-color: #333;
}

footer {
	gap: 10%;
}