/* Apply box-sizing and font styles globally */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Code', 'Courier New', monospace;
    color: white;
}

/* Set basic styles for html and body */
html, body {
    background-color: rgba(0, 47, 76, 1);
}

/* Remove underline from links */
a {
    text-decoration: none;
}

/* Main navigation styles */
nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: 1px solid white;
}

/* Basic styles for navigation */
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    display: inline;
    padding: 0;
}

nav a {
    display: inline-block;
    padding: 0.5em 1em;
    color: white;
    border: none;
}

nav a:hover {
    background-color: rgba(51, 51, 51, 0.5);
}

/* Header background styling */
.header-background {
    background-color: rgba(0, 47, 76, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding-bottom: 25px;
}

/* Default header background image */
.default-header {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/2/2a/Ascending_Towards_Oblivion_%28Unsplash%29.jpg');
}

/* Blog name and titles styling */
.blog-name, .about-title, .blog-homepage-title {
    text-align: center;
    margin: 0;
    font-weight: normal;
    color: rgba(255, 111, 97, 1);
}

.title-blog-name {
    font-size: 13em;
}

.about-title {
    font-size: 7em;
}

.blog-homepage-title {
    font-size: 13em;
}

/* Content section styling */
.content-section {
    margin: 1em;
}

/* Container for responsive layout */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 1.5em auto;
    padding: 2em;
}

/* Section header styling */
.section-header {
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
}

/* Footer styling */
.main-footer {
    background-color: rgba(51, 51, 51, 1);
    color: white;
    padding: 0.25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 0.5em;
}

.footer-nav img {
    width: 50px;
    height: 50px;
}

/* Reader engagement list styling */
.ul-reader-engagement {
    display: inline-block;
    text-align: left;
}

.ul-reader-engagement li {
    line-height: 2em;
    list-style-type: circle;
}

/* Centered content styling */
.centered-content {
    text-align: center;
}

/* Matplotlib graph styling */
.matplotlib-graph {
    width: 100%;
    height: auto;
    max-width: 600px;
    padding-bottom: 20px;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .nav li {
        display: block;
        text-align: center;
        margin-bottom: 1em;
    }

    .main-nav {
        font-size: 1.2em;
    }

    .container {
        padding: 0 1em;
    }

    .matplotlib-graph {
        width: 100%;
        height: auto;
    }

    .title-blog-name, .about-title, .blog-homepage-title {
        font-size: 8em; /* Adjust as necessary */
    }

    .section-header {
        font-size: 1.8em;
    }
}

/* Focus styles for accessibility */
a:focus {
    outline: 2px solid rgba(255, 111, 97, 1);
}