* {
    box-sizing: border-box;
    font-family: 'Fira Code', monospace;
    color: white;
}

html, body {
    margin: 0;
    padding: 0;
    background-color: rgba(0, 47, 76);
}

a {
    text-decoration: none;
}

.nav ul {
    margin: 0;
}

.nav li {
    display: inline;
}

.nav a {
    display: inline-block;
    padding: 0.5em 1em;
    color: white;
    border: none;
}

.main-nav {
    text-align: center;
    font-size: 1.5em;
    font-weight: lighter;
    border-bottom: 1px solid white;
}

.main-nav li {
    padding: 0;
}

.nav a:hover{
    background-color: rgba(51, 51, 51, 0.5);
}

.about-header {
    background-color: rgba(0, 47, 76, 0.5);
    background-image: url("/../resources/media/rocky-throwing-arms-up.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding-bottom: 25px;
}

.index-header {
    background-color: rgba(0, 47, 76, 0.5);
    background-image: url("/../resources/media/nuit-nuit.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding-bottom: 25px;
}

.blog-homepage-header {
    background-color: rgba(0, 47, 76, 0.5);
    background-image: url("/../resources/media/nadal-08.jpg");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    padding-bottom: 25px;
}

.blog-name {
    text-align: center;
    margin: 0;
    font-weight: normal;
    color: rgba(255, 111, 97);
}

.title-blog-name {
    font-size: 13em;
}

.about-title {
    text-align: center;
    margin: 0;
    font-weight: normal;
    color: rgba(255, 111, 97);
    font-size: 7em;
}

.blog-homepage-title {
    text-align: center;
    margin: 0;
    font-weight: normal;
    color: rgba(255, 111, 97);
    font-size: 13em;
}

.content-section {
    margin: 1em;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1.5em;
}

.section-header {
    font-size: 2.5em;
    font-weight: normal;
    text-align: center;
}

.main-footer {
    background-color: rgba(51, 51, 51);
    color: white;
    padding: .25em 0;
}

.main-footer-container {
    display: flex;
    align-items: center;
}

.main-footer-container ul {
    flex-grow: 1;
    text-align: end;
}

.footer-nav li {
    padding: 0 0.5em;
}

.footer-nav img {
    width: 50px;
    height: 50px;
}

.ul-reader-engagement {
    display: inline-block;
    text-align: left;
}

.ul-reader-engagement li {
    line-height: 2em;
    list-style-type: circle;
}

.centered-content {
    text-align: center;
}

.matplotlib-graph {
    width: 600px;
    height: 400px;
    padding-bottom: 20px;
}